@import 'styles/shared.scss';

.Nav__link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: inherit;

  &.active {
    background-color: $indigo;
    color: $white;
    border-radius: 4px;
  }
}
