.auth-nav {
  display: flex;
}

@import 'styles/shared.scss';

.AuthNav__link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: $black;

  &.active {
    background-color: $indigo;
    color: $white;
    border-radius: 4px;
  }
}
