@import 'styles/shared.scss';

.AuthNaw__Wrapper {
  display: flex;
}

.AuthNav__link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  // background-color: $bg-color;
  color: inherit;

  &.active {
    background-color: $indigo;
    color: $white;
    border-radius: 4px;
  }
}
